/*CSS das Section*/

.grupo {
    display: flex;
    flex-wrap: wrap;
    max-width: 45em;
    margin: 0 auto;
    text-align: center;
}

.grupo > div {
    flex: 1 1 200px;
    margin: 1em;
}

.grupo > h3 {
    text-align: center;
}

/*CSS do Login*/

.body_login {
	background: linear-gradient(45deg ,rgba(255, 136, 0, 0.7), rgba(255, 224, 18, 0.7)) !important;
}

/*CSS do Sobre*/

.body_sobre {
	background: linear-gradient(90deg ,rgba(255, 136, 0, 0.7), rgba(255, 224, 18, 0.7)) !important;
}

.desenvolvedores {
    margin-left:auto;
    margin-right: auto;

    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 26em;
    height: 35em;

}

.dev img {
    width: 9em;
    height: 9em;
    border-radius: 10%;
}

.texto_sobre  h3 {
    text-align: center;
}

.texto_sobre span{
    font-size: 1.5em;
    font-style: italic;
}

.texto_sobre p {
    max-width: 30em;
    margin: 0 auto;
    padding-bottom: 5em;
}

/*CSS do Contato*/

.body_contato {
    display: grid !important;
}

.container  {
    position: relative;
    top: 5em;
    display: flex;

}
.imagem {
    width: 50%;
    background-color: blue;
}
.div_direita {
    
    width: 50%;
    background-color: red;
}

/*CSS do Cadastro e Login*/

.body_cadastro {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg ,rgba(255, 136, 0, 0.7), rgba(255, 224, 18, 0.7)) !important;
}

.cadastro {
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.5em;
    padding: 3em;
    width: min-content;
    color: white;
    align-items: center;
    animation: inicia 1.6s ease-out;
    pointer-events: all;
}

.cadastro h1 {
    font-size: 1.3em;
    margin-bottom: 10%;
    text-align: center;
}

.inputs {
    min-width: 13em;
    border-radius: 22px;
    border: 2px white solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
    background-color: white;
}

.inputs input {
    width: 80%;
    border: none;
    outline: none;
    transform: translateY(-10%);
    font-size: 0.8em;
}

.cadastro label {
    font-size: 0.8em;
}

.botao {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.botao button {
    width: 100%;
    height: 2.1em;
    border: none;
    font-size: 0.9em;
    border-radius: 22px;
    cursor: pointer;
}

.botao button:hover {
    background-color: lightgray;
}
@keyframes inicia {
    0%{
        top: -20%;
        opacity: 0;
        pointer-events: none;
    }
    100% {
        top:50%;
        opacity: 85%;
        pointer-events: all;
    }
}

.cadastro a {
    color: white;
    text-align: center;
}