.container {
}

.imagens {
    margin-top: 1rem;
    text-align: center;
}

.imagem img{
    width: 20rem;
    height: 15rem;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5%;
}

.imagem p {
    padding-bottom: 1rem;
}