.div-container {
}

.div-chef {
    margin-top: 2rem;
}

.div-chef img{
    height: 100%;
    width: 100%;
}

.div-formulario {
    margin-top: 5rem;
}

.div-formulario h1{

}

.nome input{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    margin-top: 1rem;
}

.mensagem label {
    margin-top: 1rem;
}
.mensagem textarea{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    margin-top: 1rem;
}

.btn-enviar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}