.container {
}

.imagens {
    margin-top: 10rem;
    text-align: center;
}

.imagem img{
    width: 10rem;
    height: 10rem;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5%;
}