/*
posiciono o div com os dados ao centro e adiciono animação para quando aparecer
*/
<<<<<<< HEAD
a{
    text-decoration: none;
}

body {
    background-color: var(--login-background-color) !important;
=======
:root {
    background-color: var(--login-color-2) !important;
}

a{
    text-decoration: none;
    color: #000AC7;
>>>>>>> 6e71a2efd97b4059041030a534dba83dacb293d9
}

a:hover:visited {
    color: var(--login-color-3);
}


.login {
    margin-top: auto;
    margin-bottom: auto;
}

.dados {
<<<<<<< HEAD
    background-color: rgb(238, 238, 238);
    color: black;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
=======
    background-color: var(--login-color-1);
    color: black;
    box-shadow: 0 0 0.8rem 0.1rem rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
    font-family: var(--default-font-family);
>>>>>>> 6e71a2efd97b4059041030a534dba83dacb293d9
}

.dados h1 {
    text-align: center;
    font-size: 2.7rem;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.dados input {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    height: 1.7rem;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: 0;
}

.dados input::placeholder {
    font-size: 0.9rem;
}

.dados input:hover {
    border-bottom: 1px solid var(--login-color-3);
}

.dados label {
    font-weight: 500;
}

.div-btn {
    margin-bottom: 1.25rem;
}

.faz-login {
    text-align: center;
    padding-bottom: 1rem;
}

.btn-valida {
    background-color: var(--login-color-2);
    border: 0;
    width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
    padding: 0.25rem;
    border-radius: 1.2rem;
    padding: .5rem .5rem .5rem .5rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.btn-valida:hover{
    /* -moz-transform: scale(1.1); */
	/* -webkit-transform: scale(1.1); */
	/* transform: scale(1.1); */
    background-color: var(--login-color-3);
    color: #fff;
    cursor: pointer;
    -webkit-transition: color background-color 1s ease-out;
    transition: color background-color 1s ease-out;
}

.cad {
    text-decoration: none;
    color: black;
    text-align: center;
    padding-bottom: 2rem;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
    margin-left: 1.5rem;
}


.input-control.success input {
    border-color: rgb(40, 255, 40);
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 0.75rem;
    height: 2.75rem;
}

@media(max-width: 576px) {
    .login{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}

@media(max-width: 576px) {
    .dados{
        border-radius: 10px;
        background-color: var(--login-color-1);
    }
}

@media (max-width: 576px) {
    .body_login, .body_cadastro{
        background-image: none;
    }
}

@media (max-width: 576px) {

}
