/*
importação de fonte e adicionando ela em todos itens, utilizado também o border-box para ser posivel justificar os itens dentro das boxes
*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
* {
    box-sizing:border-box;
    font-family: 'Comfortaa', cursive;
}

.cabecalho {
    background-color: rgb(245, 169, 83);
}

footer {
    background-color: rgb(245, 169, 83);
    text-align: center;
}
