@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.adicionar-imagem {
    text-align: center;
}

.imagem img{
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem;
}

#file-input {
    display: none;
    border: 1px solid black;
}

#file-input-label{
    width: 90%;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: #ff6e29;
    border: 1px solid #ff6e29;
    border-radius: 2rem;
}

.titulo-rec {
    height: 2rem;
}
.vazia {
    height: 1rem;
}
.desc-rec {
    height: 17rem;
}

.titulo-rec input{
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
}

.desc-rec textarea{
    width: 100%;
    height: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    resize: none;
    padding-left: 0.5rem;
}

.titulo-rec input:focus,
.desc-rec textarea:focus {
    outline: none;
}

.titulos span{
    font-size: 2.25rem;
}

.sub-titulos span {
    font-size: 1.5rem;
}

.qtd-pess-porc input{
    background-color: white;
    border: none;
    outline: none;
    height: 4rem;
    font-size: 1.25rem;
}

.qtd-pess-porc {
    border: 1px solid black;
}

.btnCadastrar{
    height: 4rem;
    border-radius: 20px;
    background-color: #ff6e29;
    border: none;
    color: white;
    font-size: 1.2rem;
}

.dificuldades select {
    background-color: white;
    border: 1px solid black;
    padding: 0.5rem;
}

.divTempoDePreparo {
    height: 2rem;
}

.divTempoDePreparo span {
    height: 2rem;
}

.btnAdiciona {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 2rem;
    border-radius: 50%;
    background-color: #ff6e29;
    color: white;
    padding-bottom: 0.2rem;
}

.ingrediente input, .ingrediente button, .ingrediente select {
    height: 2rem;
}

.ingrediente {
    margin-bottom: 0.25rem;
    border-radius: 10px;
    background-color: #dddbda;
    padding: 0.5rem;
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 0.25rem 0.25rem #dddbda;
}

.modopreparo {
    margin-bottom: 0.25rem;
    border-radius: 10px;
    background-color: #dddbda;
    padding: 0.5rem;
    box-shadow: 0 0 0.15rem 0.4rem #dddbda;
}

.modopreparo textarea{
    border: 1px solid black;
}
