.dados-cad-rec {
}

.adicionar-imagem {
    text-align: center;
}

.adicionar-imagem img{
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem;
}

#file-input {
    display: none;
    border: 1px solid black;
}

#file-input-label{
    width: 90%;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: #ff6e29;
    border: 1px solid #ff6e29;
    border-radius: 2rem;
}

.titulo-rec {
    height: 2rem;
}
.vazia {
    height: 1rem;
}
.desc-rec {
    height: 17rem;
}

.titulo-rec input{
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
}

.desc-rec textarea{
    width: 100%;
    height: 15rem;
    min-height: 15rem;
    max-height: 15rem;
    resize: none;
    padding-left: 0.5rem;
}

.titulo-rec input:focus,
.desc-rec textarea:focus {
    outline: none;
}

.titulos span{
    font-size: 2.25rem;
}

.sub-titulos span {
    font-size: 1.5rem;
}

.dificuldades div{
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

.dificuldades label {
    color: rgba(0, 0, 0, 0.75);
    width: 100%;
}
.facil {
    border-bottom: 0!important;
}

.medio {
    border-bottom: none!important;
}

/* Estilo padrão para a div que contém o input */
.col-lg-6.facil {
    background-color: #fff; /* Cor de fundo padrão */
}

/* Estilo para a div quando o input estiver marcado */
.col-lg-6.marked {
    background-color: rgb(200, 200, 200); /* Cor de fundo quando marcado */
}

.dificuldades input[type="radio"]:checked + label {
    color: #000000; /* Cor do texto quando marcado */
    font-weight: bold;
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.clock {
    display: flex;
    font-size: 2em;
    align-items: center;
}
  
.clock {
    cursor: pointer;
}

.hour {
    margin-right: 1rem;
}

.minute {
    margin-left: 1rem;
}
.hour div {
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 1px solid black;
}

.minute div{
    padding: 0.5rem 3.5rem 0.5rem 3.5rem;
    border: 1px solid black;
}
.previous, .next {
    display: block;
    opacity: 0.5;
    font-size: 0.5em;
}

.qtd-pess-porc input{
    background-color: white;
    border: none;
    outline: none;
    height: 4rem;
    font-size: 1.25rem;
}

.qtd-pess-porc {
    border: 1px solid black;
}

@media (max-width: 576px) {
    .qtd-pess-porc input{
      
    }
}

