.container {
}

.imagens {
    margin-top: 10rem;
    text-align: center;
}

.imagem img{
    width: 10rem;
    height: 10rem;
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 5%;
}

.anterior, .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
}

.anterior {
    left: 0;
}

.proximo {
    right: 0;
}

.desaparecer {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}