footer {
    background-color: rgba(255, 82, 0, 0.75);
    
}

.titulo-footer, .texto{
    text-align: center;
}
.titulo-footer span{
    font-family: 'Cookie';
    font-size: 4.75rem;
    color: white;
    text-shadow: -2px 1px black;
    font-weight: bold;
    margin-top: 2rem;
}

.texto span{
    font-size: 1.1rem;
    color: white;
}

.fundo-footer{
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.05rem;
}

.fundo-footer a{
    text-decoration: none;
    color: white;
}

.texto{
    margin-bottom: 2rem;
}

.tds-dir {
    display: flex;
    justify-content: space-between;
}

.qm {
    margin-left: 2rem;
}

.ctt {
    margin-right: 2rem;
}

@media (max-width: 576px) {
    .titulo-footer, .texto{
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    .titulo-footer span {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .texto span{
        font-size: 1rem;
    }
}