.conteudo {
    margin-top: 7.5rem;
    padding-bottom: 15rem;
}

.receita {
    margin-top: 4rem;
}

.titulo-receita{
    font-size: 2.5rem;
    text-align: center;
}
.img-receita{
    margin-top: 1rem;
    width: 100%;
    height: 30rem;
    border-radius: 1.5rem;
}

.info-receita {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(167, 167, 167);
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 6rem;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icones div{
    text-align: center;
}

.icones i{
    color: #ff6e29;
}

.info-criador img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 50%;
}

.nome-criador span{
    word-break: break-all;
    font-size: 1rem;
}

.descricao-receita span{
    word-break: break-all;
    font-size: 1rem;
}

.tempo-rendimento-serve {
    display: flex;
}

.tempo-rendimento-serve i{
    margin-bottom: 2rem;
}

.titulo {
    background-color: rgb(219, 219, 219);
    padding: 0.75rem;
    margin-top: 1rem;
    text-align: center; 
    border: 1px solid rgb(167, 167, 167);
    border-radius: 0.5rem;
}

.titulo span {
    font-size: 1.1rem;
    font-weight: bold;
}

.ingredientes-preparo ol {
    margin-top: 1rem;
}