.central-div {
    background-color: rgba(200, 200, 200, 0.2);
}
.adicionar-imagem {
    text-align: center;
}

.adicionar-imagem img{
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 1px solid black ;
}

#file-input {
    display: none;
    border: 1px solid black;
}

#file-input-label{
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    background-color: #ff6e29;
    border: 1px solid #ff6e29;
    border-radius: 2rem;
}