.perfil{
    padding-top: 10rem;
    background-color: rgb(222, 222, 222);
    padding-bottom: 10rem;
}

.nome-usuario{
    text-align: center;
}

.nome-usuario span{
    font-size: 2.5rem;
}

.foto-usuario {
    margin-top: 1rem;
    text-align: center;
}

.foto-usuario img{
    width: 15rem;
    height: 15rem;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.receitas-visualizadas {
    margin-top: 2rem;
    text-align: center;
}

.receitas-visualizadas span{
    font-size: 1.25rem;
}

.imagens {
    margin-top: 1rem;
    text-align: center;
}

.imagem{
    width: 15rem;
    height: 15rem;

    margin-top: 10px;
    border: 1px solid lightgray;
}