h1 {
    margin-left: auto;
    margin-right: auto;
	margin-top: 50px;
}

img {
    max-width: 10em;
    max-height: 10em;
}

.cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgb(255, 136, 0);
    justify-content: space-between;
    align-items: center;
    min-height:3em;
}

ul,li {
    list-style: none;
    font-size: 1.2rem; 
}

a {
    text-decoration: none;
    color: black;
}

.menu{
    display:flex;
}

.menu li {
    margin-left: 0.5em;
    
}

.menu li a {
    float:right;
}

body{
    height:100vh;
    display:flex; 
    flex-direction:column; 
}
  

footer{
    min-height:2em;
    margin-top:auto;
    text-align: center;
  }