h1 {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.grupo{
	display: flex;
	flex-wrap: wrap;
	max-width: 45em;
	margin: 0 auto; 
}

.grupo > div{
	flex: 1 1 200px;
	margin: 5em;

}

.grupo > h3 {
    text-align: center;
}