.resultados {
}

.recdiv {
    margin-top: 1rem;
}

.receita {
    border-radius: 10px;
    border: 0.1px solid black
}

.imgRec{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0.1px solid lightgray;
}

.titulorec {
    font-size: 1.5;
    font-weight: 600;
}

.descrec{
    font-size: 1.3rem;
    width: 100%;
    height: 13.8rem;
}

@media (max-width: 576px) {
    .descrec{
        font-size: 1.1rem;
      
    }
    .titulorec {
        font-size: 1.2rem;
        font-weight: 600;
    }
}